
button:hover, select:hover, input[type="submit"]:hover {
  background-color: #236dcc; /* Hintergrundfarbe ändert sich bei Hover */
}

button, select, input[type="button"]{
  background-color: #2c3540; /* Hintergrundfarbe */
  color: #ffffff; /* Textfarbe */
  border: none; /* Kein Rand */
  padding: 5px 10px; /* Innenabstand oben/unten und links/rechts */
  text-align: center; /* Text zentrieren */
  text-decoration: none; /* Keine Unterstreichung */
  display: inline-block;
  font-size: 16px; /* Schriftgröße */
  border-radius: 5px; /* Abrundung der Ecken */
  cursor: pointer; /* Zeige Handcursor beim Überfahren */
}

.shopImg {
  width: auto;
  height: 370px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

section{
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Header Slider*/
.sliderElement {
  text-align: center;
  position: relative;
  /*outline: 5px solid orange;*/
  background-color: #d6d6d6;
}

.infoBox {
  /*outline: 1px solid green;*/
  position: relative;
  bottom: 25px;
  left: 40%;
  width: 20%;
}

/*Text Nahrungsergänzungsmittel*/
.infoText {
  border: 1px solid black;
  padding: 10px;
  position: relative;
  text-align: left;
}

/*Newsletter*/
.newsletter {
  width: 100%;
  text-align: left;
}

.sectionNewsletter{
  background-color: #d6d6d6;
}

/*Position Layout*/
.layoutContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}