a{
    text-decoration: none;
    color: black;
}
#Bild{
    width: 25%;
    height: 20%;
    padding-left: 0%;
}
.ersteTabellenspalte{
    margin-left: 00px;
    border-radius: 5px;
    margin-right: 0%;
    box-shadow: 0px  0px 05px 0px rgb(185, 179, 171);
    width: 800px;
    height: auto;
}
.zweiteTabellenspalte{
    width: 440px;
}
#produktbildSpalte{
    /*width: 55%; */
    margin-left: 300px;
    padding-left: 0%;
    padding-right: 0%;
    border-radius: 15px;    
    background-color: rgb(247, 246, 245);
 }
br{
    display: block;
    margin: 10px 0  ;
    line-height:22px;
  }
.addToCart{
    background-color: #2c3540;
    color: #ffffff; 
    border: none; 
    padding: 10px 35px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 18px; 
    border-radius: 3px; 
    cursor: pointer; 
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 230px;
}
.hinzufügen:hover{
    background-color: #236dcc;
}
.AP{
    background-color: #2c3540;
    color: #ffffff; 
    border: none; 
    padding: 10px 35px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 18px; 
    border-radius: 3px; 
    cursor: pointer; 
    margin-right: 54%;
}
#details{
    margin-left: 300px;
    margin-right: 18.5%;
    text-align: left;
    padding-left: 10px;
}
.produktBeschreibung{
    margin-left: px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.produktId{
    padding-left: px;
    margin-right: px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.verfuegbarkeit{
    margin-left: 0px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bruttopreis{
    margin-left: 0px;
    font-size: x-large   ;
}
h1{
    text-decoration: underline;
    margin-bottom: 0px;
    margin-left: 50px;
}

.h23{
    margin-left: 300px;
    text-align: left;
    padding-left: 10px;
}
/*.p3{
    margin-left: 60px;  
    margin-bottom: 260px; 
    margin-top: 60px;
}*/
hr {
    margin-left: 305px;
    margin-right: 18.5%;
}
button:hover, select:hover {
    background-color: #236dcc; /* Hintergrundfarbe ändert sich bei Hover */
  }
  button, select{
    background-color: #2c3540; /* Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
    border: none; /* Kein Rand */
    padding: 5px 10px; /* Innenabstand oben/unten und links/rechts */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abrundung der Ecken */
    cursor: pointer; /* Zeige Handcursor beim Überfahren */
    }
