main h1,h3{
    text-align: center;
  }
  .mainImg {
    margin-top: 0px;
    width: 60%; 
    margin-left: 40px;
    height: auto;     
    border-radius: 15px;
    align-items: center;
  }
  main p{
    margin-left: 21%;
    margin-right: 19%;
    text-align: center;
  }
  
  main hr{
    margin-left: 21%;
    margin-right: 19%;
  }

  main p{
    color:black;
}

  button:hover, select:hover, input[type="submit"]:hover {
    background-color: #236dcc; /* Hintergrundfarbe ändert sich bei Hover */
  }
  
  button, select, input[type="submit"]{
    background-color: #2c3540; /* Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
    border: none; /* Kein Rand */
    padding: 5px 10px; /* Innenabstand oben/unten und links/rechts */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abrundung der Ecken */
    cursor: pointer; /* Zeige Handcursor beim Überfahren */
  }
  section{
    margin-top: 50px;
    margin-bottom: 50px;
  }

/*Newsletter*/
.newsletter {
    width: 100%;
    text-align: left;
  }
  
  .sectionNewsletter{
    background-color: #d6d6d6;
  }
  
  /*Position Layout*/
  .layoutContainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  } 
