
#Personenbild{
    width: 20px;
    height: auto;
    vertical-align: middle; /* Zentriert die Icons vertikal */
    margin-right: 20px;
}


button:hover, select:hover {
    background-color: #236dcc; /* Hintergrundfarbe ändert sich bei Hover */
  }
  
  button, select{
    background-color: #2c3540; /* Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
    border: none; /* Kein Rand */
    padding: 5px 10px; /* Innenabstand oben/unten und links/rechts */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abrundung der Ecken */
    cursor: pointer; /* Zeige Handcursor beim Überfahren */
  }

  

  #Bestellübersicht{
    border-spacing: 10px;
    text-align:left;
    width: 700px;
   /* margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 100px;*/
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px  2px 10px 0px rgb(233, 198, 159);
}


#Preise{
    margin-top: 40px;
}

#Bestellübersicht #Linkespalte{
    vertical-align:top;
    text-align: center; 
}

#Bestellübersicht #Mittlerespale{
    vertical-align:top;
    text-align: left; 
}

#Bestellübersicht #Rechtespalte{
    vertical-align:top;
    text-align: center; 
}

#ZustellungNach{
    width: 350px;
    background-color: rgb(255, 255, 255);
    text-align:center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 2px  2px 10px 0px rgb(233, 198, 159);
}


#SectionGewählteZahlungsart{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#GewählteZahlungsart{
    width: 350px;
    background-color: rgb(255, 255, 255);
    text-align:center;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 2px  2px 10px 0px rgb(233, 198, 159);

}



.GesamtTabellePersonendatenBestellung{
    text-align:left;
    margin:auto;
    padding: auto;
    border-spacing: 50px;
}

.GesamtTabellePersonendatenBestellung th{
    vertical-align:text-top; 
}

.GesamtTabellePersonendatenBestellung #GesamtTabelleRechts {
    width: 33.33%;
}

.GesamtTabellePersonendatenBestellung #GesamtTabelleLinkerteil {
    width: 66.66%;
    
}





#Pfeil{
    margin-top: 0px;
    margin-right: 20px;
    width: 30px;
    height: auto;
    vertical-align: middle; /* Zentriert die Icons vertikal */
}


/*------------------------------------------------------------------------------------------------*/


#Bestellübersichtsbilder{
    width: 150px;
}

#Trash{
    width: 20px;
    height: auto;
}

#versandkostenspalte{
    line-height: 100px;
}

/*--------------------------------------------------------------------------------------------------*/

#Preise{
    margin-top: 175px;
    font-size: 17px;
}

#PreisVersandkostenUndGesamtkosten{
    margin-top: 0px;
    font-size: 17px;
}

#Anzahl{
    padding: 8px 13px; /* Innenabstand oben/unten und links/rechts */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abrundung der Ecken */
    
}

input[type="button"]:hover {
    background-color: none;
    border-color: none;
    color:none;
  }

  #GewählteZahlungsartButton{
    padding: 8px 13px; /* Innenabstand oben/unten und links/rechts */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abrundung der Ecken */
    background-color: #237ff6;
    color: white;
  }
  

#Mehrwertssteuer{
    font-weight: normal;
    font-size: 12px;
}

#ProduktbeschreibungUndLieferadresse{
    margin-top: 40px;
    font-weight: normal;
    font-size: 14px;
}

#Versand{
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
}

#Menge{
    margin-top: 20px;
    margin-left: 45px;
}

#TrennerBestellübersicht{
    position: absolute;
    width: 540px;
    margin-bottom: 50px;
}

#TrennerGesamtsumme{
    position: absolute;
    width: 680px;
    margin-bottom: 50px;
}

h1, h4{
    text-align: center;
}

#drucken{
    align-items: center;
    margin-left: 150px;
}
