


.dropdown {
  position: relative;
  right: 400px;
  border-spacing: 0px;
  text-align: left;
   
}

.indenWarenkorb{ /*Button*/
  margin-top: 20px;
  margin-bottom: 20px;
}

#Produktanzahl{
  position: relative;
  right: 510px;
  margin-top: 50px;
  margin-bottom: 50px;
}


button:hover, select:hover {
  background-color: #236dcc; 
}

button, select{
  background-color: #2c3540; 
  color: #ffffff; 
  border: none; 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.produktTitel{
  padding: 10px;
  font-size: 15px;
  font-style: initial;
  font-weight: bolder;
  color: #444444;
  margin-top: 15px;
  margin-bottom: 0;
}

.inhaltsstoffe{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 12px;
  font-style:normal;
}

.verfuegbarkeit{
  margin-top: 5px;
  margin-bottom: 0;
}

.preis{
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
}






#Produktliste tr th{
  box-shadow: 0px  0px 15px 0px rgb(233, 198, 159);
  border-radius: 15px;
  width: auto;
  vertical-align:text-top;
}

#Produktliste2 tr th{
  box-shadow: 0px  0px 15px 0px rgb(233, 198, 159);
  border-radius: 15px;
}

 #Produktliste{
    border-spacing: 70px;
    width: auto;
    padding: 0px;
    box-align: center;
    margin: auto;
    border-radius: 15px;
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgb(247, 246, 245);
 }

 #wenigerZeigen{
  display: none;
  position: relative;
  top: -60px;
 }
 

 #Produktliste2{ /*weitere Produkte*/
  display: none;
  position: relative;
  top: -60px;
  border-spacing: 70px;
  padding: 0px;
  box-align: center;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(247, 246, 245);
}
  

  
  
 
 hr{ /*Trennlinie nach Headerbild*/
    width: 80%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    margin-top: 100px;
    margin-left: 0px; 
    border: none; 
    border-top: 1px solid #727272; 
 }




.shopImg {
  width: auto;
  height: 370px;
  margin-top: 10px;
  margin-bottom: 20px;
}


section{
  margin-top: 50px;
  margin-bottom: 50px;
}

main{
  text-align: center;
}
